<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="setuDaily.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="setuDaily.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <system.net>
    <defaultProxy>
      <proxy proxyaddress="http://127.0.0.1:7890"/>
    </defaultProxy>
  </system.net>
  <userSettings>
    <setuDaily.Properties.Settings>
      <setting name="proxy" serializeAs="String">
        <value />
      </setting>
    </setuDaily.Properties.Settings>
    <setuDaily.Settings>
      <setting name="proxy" serializeAs="String">
        <value />
      </setting>
    </setuDaily.Settings>
  </userSettings>
</configuration>
